extends ./layout.pug
block content
  .wrap.py-5
    .container
      .row.multi-section
        .col-lg-4.h-100
          .card.card-desc.d-flex.justify-content-center.align-items-center
            .line.mb-auto
            h1.title.mb-0 九九乘法表
            .subtitle MULTIPLICATION CHART
            .line.mt-auto
        //- .col-lg-4.h-100.section
        //-   .card.card-list
        //-     .d-flex.flex-column.flex-wrap.align-items-center
        //-       .card-title.text-center.mb-0 2
        //-       .card-item 2 x 1 = 2
        //-       .card-item 2 x 2 = 4
        //-       .card-item 2 x 3 = 6
        //-       .card-item 2 x 4 = 8
        //-       .card-item 2 x 5 = 10
        //-       .card-item 2 x 6 = 12
        //-       .card-item 2 x 7 = 14
        //-       .card-item 2 x 8 = 16
        //-       .card-item 2 x 9 = 18
            
