// title
.card {
  margin-bottom: 40px;
  height: 366px;
  color: $primary;
  border: 0;
}
.card-desc {
  background-color: $body-bg;
  padding: 15px 0;
  border-radius: 0;
  .title {
    font-size: 56px;
  }
  .subtitle {
    font-size: 24px;
  }
  .line {
    position: relative;
    width: 280px;
    height: 1px;
    background-color: $primary;
    &:before,
    &:after {
      content: 'x';
      position: absolute;
      top: -20px;
      font-size: 24px;
      color: $primary;
    }
    &:before {
      left: -30px;
    }
    &:after {
      right: -30px;
    }
  }
}

// 乘法表
.card-list {
  padding: 34px 40px 64px 40px;
  border-radius: 100px 0 30px 0;
  box-shadow: 0 3px 10px #d8d8d8;
}
.card-title {
  font-size: 128px;
  line-height: 153px;
}
.card-item {
  display: flex;
  width: 118px;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 33px;
  word-spacing: 2px;
  &:nth-child(4),
  &:last-child {
    margin-bottom: 0;
  }
  &:nth-child(5) {
    margin-top: 30px;
  }
}